# Ignore Python bytecode
__pycache__/
*.pyc
 
#Ignore Zone.Identifier files from WSL
*:Zone.Identifier

# Ignore macOS files
.DS_Store

# Ignore NSCC related files
out.txt
jobsub.sh

# Ignore log_ related files
results/*/log_*

# Ignore pdf related files
analysis/3d/*/*/*pdf
analysis/3d/*/*txt
